@import '../../sass/styles.scss';

.header-container {
  height: 10px;
  width: 100%;
  background-color: $background-color-primary;
  overflow: hidden;
}

@media only screen and (min-width: 481px) {
  .header-container {
    height: 50px;
    max-height: 50px;
    display: flex;

    .content {
      width: fit-content;
      margin: 0 auto;
      padding-top: 1px;

      .items-list-mobile-view {
        height: 40px;
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0 -25.5px 10px 0;
        padding: 14px 0 0;

        .item {
          .link {
            text-decoration: none;
            color: #fff;
            font-size: 17px;

            &:hover,
            &:active {
              text-decoration: underline;
            }
          }
        }

        .space {
          width: 1px;
          height: 15px;
          background-color: #fff;
          margin: 1px 8px 0;

          &.last {
            display: none;
          }
        }
      }

      .items-list-desktop-view {
        display: none;
      }
    }

    .search-form {
      display: none;
    }
  }
}

@media only screen and (min-width: 961px) {
  .header-container {
    display: flex;
    justify-content: center;
    .content {
      margin-right: 0;
      margin-left: 63px;

      .items-list-mobile-view {
        display: inline-flex;
        margin-right: 0;

        .space {
          &.last {
            display: list-item;
          }
        }
      }

      .items-list-desktop-view {
        display: inline-flex;
        list-style: none;
        font-weight: 600;
        font-size: 17px;

        .item {
          .link {
            text-decoration: none;
            color: #fff;

            .number {
              letter-spacing: -0.3px;
            }

            &:hover,
            &:active {
              text-decoration: underline;
            }
          }
        }

        .space {
          color: #fff;
          margin: 0 5px;
        }
      }
    }

    .search-form {
      display: inline-flex;
      flex-direction: row;
      height: 100%;
      background-color: #122046;

      .input {
        width: 181px;
        height: 100%;
        padding-right: 10px;
        background-color: rgba(0, 0, 0, 0);
        font-size: 16px;
        font-family: "almoni-dl";
        color: #fff;
      }

      .white-line {
        background-color: #fff;
        width: 1px;
        margin: 17.5px 0;
      }

      .search-button {
        width: 38px;
       padding: 0 1px 7px 0;
        background-color: rgba(0, 0, 0, 0);
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
