<div class="header-container">
  <div class="content">
    <ul class="items-list-mobile-view">
      <li class="item"><a href="" class="link">כניסת סטודנטים</a></li>
      <li class="space"></li>
      <li class="item"><a href="" class="link">בלוג</a></li>
      <li class="space"></li>
      <li class="item"><a href="" class="link">הטבות לסטודנטים</a></li>
      <li class="space last"></li>
    </ul>
    <ul class="items-list-desktop-view">
      <li class="item">
        <a href="" class="link">
          ייעוץ לימודים. <span class="number">03-7207027</span>
        </a>
      </li>
      <li class="space">|</li>
      <li class="item">
        <a href="" class="link">שירות לסטודנטים. 03-613-5565</a>
      </li>
    </ul>
  </div>
    <form class="search-form">
      <input type="text" class="input" placeholder="חיפוש">
      <div class="white-line"></div>
      <button type="submit" class="search-button">🔍</button>
    </form>
</div>
