<div class="container">
  <h3 class="title">הקורסים שלנו עכשיו גם אונליין</h3>
  <div class="courses-container">
    <ul class="courses-list">
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.35.16-cyber.svg"
              alt="קורס סייבר ואבטחת מידע Ethical Hacking"
              class="course-img"
            />
            <div class="course-seperator" style="background: #0598a8"></div>
            <div class="course-title">
              קורס סייבר ואבטחת מידע Ethical Hacking
            </div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.34.59-network-management.svg"
              alt="קורס ניהול רשתות ואבטחת מידע"
              class="course-img"
            />
            <div class="course-seperator" style="background: #77c044"></div>
            <div class="course-title">
              קורס ניהול רשתות, אבטחת מידע ומחשוב ענן
            </div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.41.07-marketing.svg"
              alt="קורס שיווק דיגיטלי"
              class="course-img"
            />
            <div class="course-seperator" style="background: #ef4523"></div>
            <div class="course-title">
              קורס שיווק דיגיטלי - קורס קידום אתרים, רשתות חברתיות, פרסום
              ומכירות באינטרנט
            </div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.32.31-qa.svg"
              alt="קורס QA בודק תוכנה"
              class="course-img"
            />
            <div class="course-seperator" style="background: #5e6bb2"></div>
            <div class="course-title">קורס QA בודק תוכנה</div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.34.31-graphic-design.svg"
              alt="קורס עיצוב גרפי"
              class="course-img"
            />
            <div class="course-seperator" style="background: #ed1859"></div>
            <div class="course-title">קורס עיצוב גרפי עם התמחות ב-UI/UX</div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.35.50-web-dev.svg"
              alt="קורס בניית אתרים - full stack developer"
              class="course-img"
            />
            <div class="course-seperator" style="background: #8352a1"></div>
            <div class="course-title">
              קורס בניית אתרים - Full Stack Development
            </div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.38.36-apps.svg"
              alt="קורס פיתוח אפליקציות"
              class="course-img"
            />
            <div class="course-seperator" style="background: #1e5f30"></div>
            <div class="course-title">
              קורס פיתוח אפליקציות ל-Android ול-iPhone
            </div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.33.47-linux.svg"
              alt="קורס לינוקס"
              class="course-img"
            />
            <div class="course-seperator" style="background: #154b9c"></div>
            <div class="course-title">קורס ניהול שרתי לינוקס (Linux)</div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.36.06-animation.svg"
              alt="קורס אנימציה תלת מימדית תוכנת מאיה עם התמחות ב-ZBrush"
              class="course-img"
            />
            <div class="course-seperator" style="background: #f36e44"></div>
            <div class="course-title">
              קורס אנימציה תלת מימדית תוכנת מאיה עם התמחות ב-ZBrush
            </div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.37.06-gaming.svg"
              alt="קורס גיימינג - פיתוח משחקים"
              class="course-img"
            />
            <div class="course-seperator" style="background: #d72816"></div>
            <div class="course-title">קורס פיתוח משחקים Gaming &amp; VR</div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.37.24-dba.svg"
              alt="קורס DBA"
              class="course-img"
            />
            <div class="course-seperator" style="background: #25b9a2"></div>
            <div class="course-title">קורס DBA Master</div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.33.06-net.svg"
              alt="קורס Dotnet"
              class="course-img"
            />
            <div class="course-seperator" style="background: #39a4dc"></div>
            <div class="course-title">קורס פיתוח תוכנה NET Core.</div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
      <li class="course-container">
        <a href="" class="course">
          <div class="content">
            <img
              src="https://www.hackeru.co.il/assets/site/images/19.12.15.15.36.41-automation.svg"
              alt="קורס מפתחי אוטומציה ל-QA"
              class="course-img"
            />
            <div class="course-seperator" style="background: #352f8a"></div>
            <div class="course-title">קורס מפתחי אוטומציה ל-QA</div>
          </div>
          <img
            src="https://www.hackeru.co.il/assets/site/images/arrow.svg"
            alt="left arrow"
            class="arrow"
          />
        </a>
      </li>
    </ul>
    <div class="contact-information">
      <div class="title">רוצה לשמוע עוד?</div>
      <form class="form" action="https://www.hackeru.co.il/thanks">
        <div class="input-container">
          <label for="full-name" class="label">
            <span class="text"> שם מלא </span>
            <span class="seperator">|</span>
          </label>
          <input type="text" id="full-name" class="input" />
        </div>
        <div class="input-container">
          <label for="phone-number" class="label">
            <span class="text"> טלפון </span>
            <span class="seperator">|</span>
          </label>
          <input type="text" id="phone-number" class="input" />
        </div>
        <div class="input-container">
          <label for="email-address" class="label">
            <span class="text"> אי-מייל </span>
            <span class="seperator">|</span>
          </label>
          <input type="text" id="email-address" class="input" />
        </div>
        <div class="checkbox-container">
          <input
            type="checkbox"
            id="check-box"
            checked="checked"
            class="checkbox"
          />
          <label for="check-box" class="label"
            >אני מאשר קבלת עדכונים ומבצעים מהאקריו בכפוף לתקנון.</label
          >
        </div>
        <div class="privacy-link-container">
          <a href="" class="link">מדיניות פרטיות משתמשים</a>
        </div>

        <button type="submit" class="submit-button">
          <div class="text">דברו איתי!</div>
        </button>
      </form>
    </div>
  </div>
</div>
