<div class="container">
  <div class="information-for-candidates">
    <div class="video-container">
      <a href="https://www.youtube.com/watch?v=NVaRDQpcKrw" class="link">
        <img
          src="https://www.hackeru.co.il/assets/site/images/vd.png"
          alt="תמונה לסרטון תדמית ראשי של מכללת האקריו"
          class="image"
        />
      </a>
      <div class="more-info">
        עוד קצת מידע
        <div class="arrow-container">
          <img
            src="../../../assets/images/arrow-direction-up.svg"
            alt="arrow up"
            class="arrow"
          />
        </div>
      </div>
    </div>
    <h3 class="head-title">איך זה עובד?</h3>
    <p class="paragraph">
      HackerU מקיימת קשרי עבודה ענפים עם למעלה מ- 1400 חברות ברחבי הארץ ובעצם
      משמשת כקרש קפיצה לעולם ההייטק. חברות רבות כבר יודעות שב– HackerU הן יכולות
      למצוא כוח אדם מקצועי, מיומן ואיכותי בעל ידע פרקטי ויישומי לעבודה.
      ל-HackerU שיתופי פעולה ברחבי העולם, שם היא מלמדת את קורסי סייבר ואבטחת
      מידע ושיווק דיגיטלי באוניברסיטאות המובילות בארה"ב, הודו ואירופה.
    </p>
    <p class="paragraph">
      התהליך מתחיל מראיון טלפוני ופגישה אישית עם יועץ לימודים המכוון את המועמד
      לקורס המתאים לו ביותר וממשיך לשלב המיון שנע בין 20 ל-40 שעות בו ניתן
      להתנסות בתכנים השונים ולבדוק האם ישנה התאמה בין המועמד לבין מסלול הלימודים
      הנבחר. שלב המיון הינו ללא כל סיכון כספי מצד המועמד. במידה והמועמד אינו
      עובר את מבחן סיום שלב המיון או לחלופין מחליט כי התחום אינו מתאים לו והוא
      לא מעוניין להמשיך ללמוד - שכר הלימוד יוחזר לו במלואו.
    </p>
    <p class="paragraph">
      במידה והמועמד עובר את שלב המיון בהצלחה ומעוניין להמשיך לקורס המלא, ייחתם
      מולו חוזה השמה ויקבל מלגת לימודים עד 10,000 ₪ תלוי במסלול אותו הוא מעוניין
      ללמוד. מטרתנו העיקרית היא להביא כמה שיותר בוגרים ישירות אל עולם ההייטק
      בעזרת סגל מרצים מהמוביל בתחום ומערך לימודים מקיף ומקצועי הנותן לכל סטודנט
      את ארגז הכלים הנחוץ לו לפרוץ לעולם ההייטק.
    </p>
    <div class="clear"></div>
    <div class="process">
      <h4 class="process-title">התהליך שלנו</h4>
      <ul class="process-list">
        <li id="first-item" class="process-item">
          <div class="arrow"></div>
          <div class="item-number">
            <span class="number">1</span>
          </div>
          <h5 class="item-label">פגישת ייעוץ</h5>
          <div class="seperator"></div>
          <p class="item-description">
            בפגישה נערך ראיון אישי עם המועמד, אנו בודקים את הרקע שלו ואת יכולת
            ההשתלבות שלו בתעשייה
          </p>
        </li>
        <li id="second-item" class="process-item">
          <div class="arrow"></div>
          <div class="item-number">
            <span class="number">2</span>
          </div>
          <h5 class="item-label">קורס מיון</h5>
          <div class="seperator"></div>
          <p class="item-description">
            שלב זה אורך בין 40-20 שעות על מנת לבדוק את יכולות המועמד ללימודי
            המשך ולהשמה בעבודה. לא עברת את שלב המיון ? תקבל החזר כספי של שכר
            הלימוד ששילמת
          </p>
        </li>
        <li id="third-item" class="process-item">
          <div class="arrow"></div>
          <div class="item-number">
            <span class="number">3</span>
          </div>
          <h5 class="item-label">ללכת על בטוח</h5>
          <div class="seperator"></div>
          <p class="item-description">
            אחרי שעברת את שלב המיון בהצלחה ונשמת לרווחה, תקבל התחייבות חוזית
            לעבודה ומלגת לימודים עד 10,000 ₪ תלוי במסלול שבחרת
          </p>
        </li>
        <li id="forth-item" class="process-item">
          <div class="arrow"></div>
          <div class="item-number">
            <span class="number">4</span>
          </div>
          <h5 class="item-label">מתחילים ללמוד</h5>
          <div class="seperator"></div>
          <p class="item-description">
            הלימודים אצלנו פרקטיים ומטרתם לשלב את הבוגרים שלנו בתעשייה, לצורך זה
            תוכנית הלימודים שלנו היא המקצועית והמקיפה ביותר ובזכותה אנחנו מספר
            אחת בהשמת בוגרים בהייטק
          </p>
        </li>
      </ul>
      <button class="request-meeting-button">
        <div class="text">קביעת פגישת ייעוץ</div>
      </button>
    </div>
  </div>
</div>
