@import "../../sass/styles.scss";

.navbar-container {
  width: 100%;

  .content {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 19px 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .company-logo {
      cursor: pointer;
    }

    .nav-button {
      position: relative;
      margin-top: 5px;
      width: 40px;
      height: 35px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;

      .bar {
        position: absolute;
        width: 40px;
        height: 5px;
        left: 0;
        background-color: $background-color-primary;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;

        &.first {
          top: 5px;
        }

        &.second {
          top: 15px;
          transition-duration: 0.2s;
        }

        &.third {
          top: 25px;
        }
      }

      &.toggled {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);

        .bar {
          &.first {
            top: 14px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
          }

          &.second {
            opacity: 0;
            transition-delay: 0.1s;
            transform: translateX(-60px);
            -webkit-transform: translateX(-60px);
            -moz-transform: translateX(-60px);
            -ms-transform: translateX(-60px);
            -o-transform: translateX(-60px);
          }

          &.third {
            top: 14px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
          }
        }
      }
    }

    .tag {
      display: none;
    }
  }

  .nav-menu {
    &.mobile {
      max-height: 0;
      margin: 7px 20px 0 0;
      overflow: hidden;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;

      &.expanded {
        max-height: 200vh;
        transition-duration: 0.6s;
      }
    }

    &.desktop {
      display: none;
    }

    .category {
      list-style: none;
      margin-bottom: 20px;

      &#lastCategory {
        margin-bottom: 25px;
      }

      .label {
        width: fit-content;
        display: flex;
        align-items: center;
        color: $text-color-primary;
        text-decoration: none;
        font-size: 19px;
        margin-bottom: 1px;
        cursor: pointer;

        &:hover,
        &:active {
          color: #23527c;
          text-decoration: underline;
        }

        img {
          width: 12px;
          margin: 0 5px 0 0;
        }
      }

      .items {
        display: none;
        list-style: none;

        &.expanded {
          display: initial;
        }

        .item {
          padding: 9px 20px 11px 0;
          border-bottom: 1px dashed #aad6be;

          .link {
            color: $text-color-primary;
            text-decoration: none;
            font-size: 19px;

            &:hover,
            &:active {
              color: #23527c;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .banner {
    width: 100%;
    height: auto;
    margin-top: -4px;
    padding: 24px 10px 26px;
    background-image: linear-gradient(155deg, #8d25aa, #1046a1);

    .text {
      width: 100%;
      font-size: 6.5vw;
      line-height: 1;
      margin: 0 auto;
      font-weight: 700;
      text-align: center;
      color: #fff;
    }
  }
}

@media only screen and (min-width: 481px) {
  .navbar-container {
    .banner {
      padding-top: 23px;

      .text {
        font-size: 3.5vw;
        line-height: 36px;

        .bigger {
          font-size: 4.5vw;
          line-height: 1.18;
        }
      }
    }
  }
}

@media only screen and (min-width: 961px) {
  .navbar-container {
    .content {
      position: relative;
      padding: 19px 0 1px;
      justify-content: flex-start;
      align-items: flex-end;

      .nav-button {
        display: none;
      }

      .tag {
        display: initial;
        position: absolute;
        min-width: 86px;
        height: 115px;
        left: -5px;
        top: 0;
        padding-top: 7px;
        font-weight: 700;
        z-index: 99;
        color: #eee;
        font-size: 14.5px;
        text-align: center;
        background-image: url("https://www.hackeru.co.il/assets/site/images/soldier.png");
        background-position: center;

        .link-container {
          padding-top: 1px;

          .link {
            font-size: 12px;
            color: #eee;
            font-weight: normal;
          }
        }
      }
    }

    .nav-menu {
      &.mobile {
        display: none;
      }

      &.desktop {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        margin-bottom: 3px;
      }

      .category {
        margin-bottom: 0px;
        .label {
          margin-bottom: 0px;
          margin-left: 22px;

          img {
            width: 8px;
            margin-top: 3px;
          }
        }

        .items {
          background-color: $background-color-primary;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          padding: 10px 0;
          margin-top: 3px;
          margin-right: -20px;
          padding: 10px 5px 5px 0;
          border: 1px solid rgba(0, 0, 0, 0.15);
          box-shadow: rgba(0, 0, 0, 0.176) 0 6px 12px 0;
          width: 200px;

          .item {
            border-bottom: 0;
            padding: 0;
            margin-top: 5px;
            margin-bottom: 8px;

            .link {
              padding: 5px 15px;
              color: #aad6be;
              font-size: 15px;
              font-weight: 700;

              &:hover,
              &:active {
                text-decoration: none;
                background-color: #aad6be;
                color: $background-color-primary;
              }
            }
          }

          &.expanded {
            position: absolute;

            &#courses {
              display: flex;
              justify-content: space-between;
              min-width: 600px;

              .column {
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .item {
                  width: fit-content;
                  margin-bottom: 0;
                  margin-top: 0;

                  .link {
                    min-width: 174.33px;
                    max-width: 174.33px;
                    display: flex;
                    justify-content: flex-start;
                  }
                }
              }
            }
          }
        }
      }
    }

    .banner {
      display: flex;
      margin-top: 6px;
      padding-top: 42px;
      padding-bottom: 38px;
      justify-content: center;

      .text {
        max-width: 740px;
        font-size: 39px;
        margin: 0;
        margin-right: -49px;

        .bigger {
          font-size: 55.7px;
          line-height: 1.15;
          padding-right: 4px;
        }
      }
    }
  }
}
