<div class="container">
  <div class="company-advantages">
    <h3 class="title">היתרונות ללומדים בהאקריו</h3>
    <ul class="advantages">
      <li class="advantage">
        <div class="image-container">
          <img
            src="https://www.hackeru.co.il/assets/site/images/advs_1.svg"
            alt=""
            class="image"
          />
        </div>
        <div class="content">
          <div class="label">שיטת מיון ייחודית</div>
          <p class="text">
            שיטת מיון ייחודית לזיהוי והתאמת כישוריך בתחומי ההייטק הכוללת התנסות
            מעשית ללא סיכון כספי
          </p>
          <a href="" class="link">שיטת המיון</a>
        </div>
      </li>
      <li class="advantage">
        <div class="image-container">
          <img
            src="https://www.hackeru.co.il/assets/site/images/advs_6.svg"
            alt=""
            class="image"
          />
        </div>
        <div class="content">
          <div class="label">ללמוד מהבית מקצוע Online</div>
          <p class="text">
            קורסים אונליין הישר בשידור LIVE למחשב שלכם בבית. אותם מסלולי הלימוד
            והתכנים עם הטכנולוגיה האיכותית והטובה ביותר.
          </p>
        </div>
      </li>
      <li class="advantage">
        <div class="image-container">
          <img
            src="https://www.hackeru.co.il/assets/site/images/advs_3.svg"
            alt=""
            class="image"
          />
        </div>
        <div class="content">
          <div class="label">סגל מרצים מנצח</div>
          <p class="text">
            סגל הוראה המתמחה במקצועות ההייטק המבוקשים בניהם מנהלים בכירים בחברות
            הייטק, יזמים ועצמאיים בעלי חברות וניסיון מעשי רב שנים. אחרת איך
            תלמדו את הפרקטיקה הנדרשת בשוק העבודה?
          </p>
          <a href="" class="link">מיהם המרצים?</a>
        </div>
      </li>
      <li class="advantage">
        <div class="image-container">
          <img
            src="https://www.hackeru.co.il/assets/site/images/advs_4.svg"
            alt=""
            class="image"
          />
        </div>
        <div class="content">
          <div class="label">מלגת לימודים והתחייבות חוזית לעבודה</div>
          <p class="text">
            מאות מעסיקים, מנכל"ים, סמנכל"ים ומנהלות משאבי אנוש מהחברות הגדולות
            בשוק שעובדים איתנו כדי למצוא לכם עבודה בסיום הלימודים! סטודנט שעבר
            בהצלחה את שלב המיון יקבל התחייבות חוזית לעבודה ומלגת לימודים עד
            ₪10,000 גובה המלגה תלוי במסלול ההכשרה שבחרת
          </p>
          <a href="" class="link">מי מעסיק את הבוגרים שלנו?</a>
        </div>
      </li>
      <li class="advantage">
        <div class="image-container">
          <img
            src="https://www.hackeru.co.il/assets/site/images/advs_5.svg"
            alt=""
            class="image"
          />
        </div>
        <div class="content">
          <div class="label">תוכנית לימודים מקיפה</div>
          <p class="text">
            הקורסים המקיפים והפרקטיים ביותר מבחינת כמות שעות ותכנים המותאמים
            לשוק העבודה
          </p>
          <a href="" class="link">מה לומדים?</a>
        </div>
      </li>
      <li class="advantage">
        <div class="image-container">
          <img
            src="https://www.hackeru.co.il/assets/site/images/advs_2.svg"
            alt=""
            class="image"
          />
        </div>
        <div class="content">
          <div class="label">מיקום מרכזי</div>
          <p class="text">
            קל להגיע וקל לחזור, ארבעה סניפים בערים מרכזיות רמת גן, ירושלים, באר
            שבע וחיפה, רק 5 דקות מתחנת הרכבת
          </p>
          <a href="" class="link">איפה אנחנו יושבים?</a>
        </div>
      </li>
      <li class="advantage">
        <div class="image-container">
          <img
            src="https://www.hackeru.co.il/assets/site/images/advs_7.svg"
            alt=""
            class="image"
          />
        </div>
        <div class="content">
          <div class="label">פריסה עולמית</div>
          <p class="text">
            שיתופי פעולה עם אוניברסיטאות מובילות ברחבי ארה"ב, הודו ואירופה
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
