<div class="company-info-container">
  <div class="items">
    <div class="item first">
      <div class="image-container">
        <img
          src="https://www.hackeru.co.il/assets/site/images/global.svg"
          alt="globe"
          class="image"
        />
      </div>
      <div class="content">
        <h3 class="title">HackerU העולמית</h3>
        <p class="text">
          ל- HackerU פריסה עולמית הכוללת שיתופי פעולה עם אוניברסיטאות מובילות
          בארה"ב, הודו ואירופה. במסגרת שיתוף הפעולה HackerU מציעה מסלולי לימוד
          שונים כדוגמת: סייבר ואבטחת מידע, שיווק דיגיטלי, UI\UX ועוד.
        </p>
        <a href="" class="link">
          קרא עוד&nbsp;
          <span class="arrow">←</span>
        </a>
      </div>
    </div>
    <div class="item second">
      <div class="image-container">
        <img
          src="https://www.hackeru.co.il/assets/site/images/buildings.svg"
          alt="buildings"
          class="image"
        />
      </div>
      <div class="content">
        <h3 class="title">HackerU לעסקים</h3>
        <p class="text">
          HackerU-Pro החטיבה העסקית של HackerU מתמחה בהכשרה מקצועית בתחומי
          ההייטק והעיצוב השונים. מתן ייעוץ מקצועי לעסקים וגופים ממשלתיים בנושאים
          טכנולוגיים מגוונים.
        </p>
        <a href="" class="link">
          קרא עוד&nbsp;
          <span class="arrow">←</span>
        </a>
      </div>
    </div>
  </div>
</div>
